@font-face {
  font-family: poppins;
  src: url("Fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: heroheading;
  src: url("Fonts/AguafinaScript-Regular.ttf");
}
@font-face {
  font-family: headings;
  src: url("Fonts/DancingScript-Regular.ttf");
}
/*** BASE RULES START ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--primary-dark);
  color: var(--text-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: headings;
}

:root {
  --primary-light: #dadada;
  --primary-dark: #403c3c;
  --primary-headings: #bbbdf3;
  --secondary-headings: #6b7fea;
  --secondary-black: #151719;
  --text-color: #fff;
  --primary-cta: #ffd700;
  --secondary-cta: #6b7fea;
  --text-shadow: 4px 3px 6px rgba(0, 0, 0, 0.2);
  --carousel-height: 500px;
  --speed-fast: 0.12s;
  --speed-medium: 0.22s;
  --speed-slow: 0.4s;
}

/*** BASE RULES END ***/

/* layout */
.container {
  max-width: 142rem;
  margin: 0 auto;
  padding: 96px 50px;
}
.grid {
  display: grid;
}
.grid-two--cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid-four--cols {
  grid-template-columns: repeat(4, 1fr);
}
/* layout */

/*** LOADER START ***/

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*** LOADER END ***/

/*** RESUSABLES START ***/
#cta-div {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}
#contactBtn a button {
  border: none;
  border-radius: 8px;
  padding: 14px 24px;
  background-color: var(--primary-cta);
  border: 1px solid var(--primary-cta);
  font-size: 26px;
  color: var(--secondary-black);
  font-weight: 900;
  font-family: headings;
  font-stretch: ultra-expanded;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.25s ease;
}
#workBtn a button {
  border: none;
  border-radius: 8px;
  padding: 14px 24px;
  background-color: var(--secondary-cta);
  border: 1px solid var(--secondary-cta);
  font-size: 26px;
  color: #fff;
  font-weight: 600;
  font-family: headings;
  font-stretch: ultra-expanded;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.25s ease;
}

.section-common--heading {
  font-size: 45px;
  font-weight: 100;
  text-transform: capitalize;
  color: var(--primary-headings);
  text-shadow: 4px 3px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  text-align: center;
}
.section-common--heading span {
  color: var(--secondary-headings);
  font-weight: 600;
}
.section-common--subheading {
  font-size: 28px;
  font-weight: 900;
  color: var(--secondary-headings);
}
.section-common--para {
  font-size: 18px;
  font-weight: 100;
}
.section-common--para span {
  font-size: 22px;
  font-weight: 100;
  color: var(--primary-headings);
}
.section-common--para .danger {
  font-size: 20px;
  font-weight: 100;
  color: rgb(250, 48, 48);
}
#contactBtn a button:hover {
  scale: 1.03;
  box-shadow: 7px 7px 0px -3px rgba(0, 0, 0, 0.4);
}
#workBtn a button:hover {
  scale: 1.03;
  box-shadow: 7px 7px 0px -3px rgba(0, 0, 0, 0.4);
}
.hover-image {
  overflow: hidden;
  display: inline-block;
}
.hover-image img {
  transition: all 0.3s ease-in-out;
}
.hover-image:hover img {
  scale: 1.15;
}

/*** RESUSABLES END ***/

/*** NAVBAR START ***/

#nav {
  height: 80px;
  width: 100%;
  background-color: var(--primary-light);
  color: var(--secondary-black);
  box-shadow: 0px 16px 8px -3px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
  position: fixed;
  z-index: 99;
  transition: 0.3s opacity linear;
}
#nav-part--1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav-part--1 a {
  text-decoration: none;
  font-size: 30px;
  font-family: poppins;
  font-weight: 100;
  color: var(--text-color);
}
.logo img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.logo {
  padding-top: 10px;
}
#navbar-active {
  display: none;
}
.open-navbar-button,
.close-navbar-button {
  display: none;
}
#nav-part--2 {
  position: absolute;
  left: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav-part--2 ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}
#nav-part--2 a:before {
  width: 0%;
  border: 2px solid rgba(255, 255, 255, 0);
  top: 0px;
  right: 0px;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.25s;
  bottom: 0px;
  content: "";
  position: absolute;
  z-index: 5;
  border-radius: 30px;
  transition: 0.35s;
}

#nav-part--2 a:hover:before,
#nav-part--2 .active a:before {
  left: 0;
  width: 100%;
  opacity: 1;
  border-color: var(--supporting-color);
  transition: 0.35s;
  box-shadow: var(--text-shadow);
}
#nav-part--2 a {
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  color: var(--secondary-black);
  font-family: poppins;
  background: none;
  border-radius: 22px;
  transition: 0.35s;
  position: relative;
  overflow: hidden;
  padding: 5px 10px;
  border-radius: 30px;
}
#cta {
  position: absolute;
  right: -220%;
}
#nav-part--3 #contactBtn a button {
  background-color: var(--secondary-cta);
  border-color: var(--secondary-cta);
  color: var(--text-color);
}

/*** NAVBAR END ***/

/*** HERO SECTION START ***/

#hero {
  width: 100%;
  height: 105vh;
  background-image: url("Images/img2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  display: flex;
  align-items: start;
  justify-content: center;
}
#hero h1 {
  color: var(--secondary-black);
  font-size: 70px;
  font-weight: 100;
  font-family: heroheading;
  width: 60%;
}

/*** HERO SECTION END ***/

/*** CAROUSEL SECTION START ***/

.carousel {
  width: 100%;
  max-width: 900px;
  height: var(--carousel-height);
  position: relative;
  border-radius: 8px;
  margin-bottom: 30px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06),
    0px 6px 24px 0px rgba(0, 0, 0, 0.12);
  transition: var(--speed-slow) ease;
  @media screen and (max-width: 989px) {
    --carousel-height: 350px;
    height: var(--carousel-height);
  }
}
.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: var(--speed-medium) ease;
  &.active {
    opacity: 1;
  }
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  img {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
  }
}
.dots {
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 5px;
  cursor: pointer;
  &.active {
    background-color: white;
  }
}

.timer {
  position: absolute;
  top: 8px;
  right: 8px;
  left: 8px;
  height: 4px;
  border-radius: 100vh;
  background-color: var(--primary-light);
  backdrop-filter: blur(8px);
  width: 0;
  z-index: 10;
}
.nav-arrow {
  --arrow-width: 64px;
  aspect-ratio: 1;
  position: absolute;
  top: calc(var(--carousel-height) / 2 - var(--arrow-width) / 2);
  background: #fff;
  transition: var(--speed-slow) ease;
  width: 64px;
  border-radius: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    transition: 0.2s ease-in-out;
    fill: #000;
  }
  &:hover {
    background-color: #000;
    svg {
      fill: #fff;
    }
    &.prev {
      svg {
        transform: translateX(-4px);
      }
    }

    &.next {
      svg {
        transform: translateX(4px);
      }
    }
  }
  &.prev {
    left: 0;
    transform: translateX(-50%);
  }
  &.next {
    right: 0;
    transform: translateX(50%);
  }
}

.pause-play-button {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  border-radius: 20px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  svg {
    width: 20px;
    height: 20px;
    margin-right: 4px;
  }
  span {
    white-space: nowrap;
  }
}

/*** CAROUSEL SECTION END ***/

/*** MARQUEE SECTION START ***/

.marquee {
  overflow-x: clip;
  white-space: nowrap;
  position: relative;
  width: 100%;
}

.marquee-inner {
  display: flex;
  align-items: center;
  gap: 2vw;
  padding: 12vh 0;
  will-change: transform;
}

.marquee-inner img {
  height: 100%;
  transition: transform 0.5s;
  flex-shrink: 0;
  width: 20vw;
  border-radius: 2rem;
}

.marquee-inner img:hover {
  transform: scale(1.03);
}

/*** MARQUEE SECTION END ***/

/*** WEDDING SERVICES SECTION START ***/

#wedding-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*** WEDDING SERVICES SECTION END ***/

/*** PHOTOGRAPHY SERVICES SECTION START ***/

#product-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
}

/*** WEDDING SERVICES SECTION END ***/

/*** FASHION SERVICES SECTION START ***/

#fashion-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
}
#fashion-images--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#fashion-services img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 20px;
}
#fashion-images--1 {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
#fashion-images--2 {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
#fashion-images--3 {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

/*** FASHION SERVICES SECTION END ***/

/*** REVIEWS SECTION START ***/

#reviews-section {
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#reviews-carousel {
  margin: 30px 0px;
}

/*** REVIEWS SECTION END ***/

/*** FOOTER START ***/

.footer {
  background-color: var(--primary-light);
  color: var(--secondary-black);
  padding: 50px 0;
  text-align: center;
  font-size: 14px;
}
.footer a img {
  height: 200px;
  width: 220px;
  object-fit: cover;
  border-radius: 20px;
}
.footer h1 {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 20px;
}
.footer p span {
  font-size: 20px;
}

.footer .socials a {
  font-size: 24px;
}

.footer a {
  font-size: 16px;
  color: var(--secondary-black);
  text-decoration: none;
  margin: 10px 15px;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: var(--secondary-headings);
}

.copyright {
  margin-top: 10px;
}

/*** FOOTER END ***/

/*** GALLERY SECTION START ***/

#gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 0px;
}
#gallery1 {
  display: flex;
  align-items: center;
}
#gallery2 {
  display: flex;
  align-items: center;
}
#gallery img {
  width: 200px;
  height: 240px;
  object-fit: cover;
  border-radius: 20px;
  margin: 10px;
}

/*** GALLERY SECTION END ***/

/*** ABOUT SECTION START ***/

#about {
  padding-top: 0px;
  text-align: center;
}

/*** ABOUT SECTION END ***/

/*** PACKAGES SECTION START ***/

#wedding-package {
  padding-top: 120px;
  padding-bottom: 0px;
}
#wedding-packages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#wedding-package #gallery {
  padding-top: 20px;
}
#wedding-packages > a img {
  height: 400px;
  width: 300px;
  object-fit: contain;
  border-radius: 20px;
}
#wedding-packages > a {
  cursor: zoom-in;
}
#wedding-package a {
  color: #bbbdf3;
}
/*** PACKAGES SECTION END ***/

/*** RESPONSIVE DESIGN START ***/

@media (width<=550px) {
  :root {
    --carousel-height: 100vh;
  }

  /* layout */
  .container {
    max-width: 142rem;
    margin: 0 auto;
    padding: 96px 20px;
  }
  /* layout */

  /*** RESUSABLES START ***/
  #cta-div {
    display: flex;
    gap: 10px;
    margin-top: 30px;
  }
  #contactBtn a button {
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: var(--primary-cta);
    border: 1px solid var(--primary-cta);
    font-size: 16px;
    color: var(--secondary-black);
    font-weight: 900;
    font-family: headings;
    font-stretch: ultra-expanded;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.25s ease;
  }
  #workBtn a button {
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: var(--secondary-cta);
    border: 1px solid var(--secondary-cta);
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    font-family: headings;
    font-stretch: ultra-expanded;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.25s ease;
  }

  .section-common--heading {
    font-size: 22px;
    font-weight: 100;
    text-transform: capitalize;
    color: var(--primary-headings);
    text-shadow: 4px 3px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    text-align: center;
  }
  .section-common--heading span {
    color: var(--secondary-headings);
    font-weight: 600;
  }
  .section-common--subheading {
    font-size: 18px;
    font-weight: 900;
    color: var(--secondary-headings);
  }
  .section-common--para {
    font-size: 12px;
    font-weight: 100;
  }
  .section-common--para span {
    font-size: 15px;
    font-weight: 100;
    color: var(--primary-headings);
  }
  .section-common--para .danger {
    font-size: 16px;
    font-weight: 100;
    color: rgb(250, 48, 48);
  }
  #contactBtn a button:hover {
    scale: 1.02;
    box-shadow: 7px 7px 0px -3px rgba(0, 0, 0, 0.4);
  }
  #workBtn a button:hover {
    scale: 1.02;
    box-shadow: 7px 7px 0px -3px rgba(0, 0, 0, 0.4);
  }
  .hover-image {
    overflow: hidden;
    display: inline-block;
  }
  .hover-image img {
    transition: all 0.3s ease-in-out;
  }
  .hover-image:hover img {
    scale: 1.15;
  }

  /*** RESUSABLES END ***/

  /*** NAVBAR START ***/

  #nav {
    height: 70px;
    width: 100%;
    background-color: var(--primary-light);
    box-shadow: 0px 16px 8px -3px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    z-index: 99;
  }
  .logo img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
  #nav-part--2 {
    position: absolute;
    left: -100%;
    top: 0%;
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-light);
    z-index: 999;
    transition: 0.5s ease-out all;
  }
  #navbar-active {
    display: none;
  }
  #navbar-active:checked ~ #nav-part--2 {
    left: 0;
  }
  .open-navbar-button,
  .close-navbar-button {
    display: block;
    transition: all 0.1s linear;
  }
  .open-navbar-button:active,
  .close-navbar-button:active {
    scale: 1.2;
  }
  #nav-part--2 ul label svg {
    fill: var(--secondary-black);
  }
  #nav > label svg {
    fill: var(--secondary-black);
  }
  #nav-part--2 ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    list-style: none;
    margin: 15%;
  }
  #nav-part--2 a {
    font-size: 34px;
    font-weight: 300;
    text-decoration: none;
    color: var(--secondary-black);
    font-family: poppins;
  }

  /*** NAVBAR END ***/

  /*** HERO SECTION START ***/

  #hero {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: start;
    justify-content: center;
  }
  #hero h1 {
    color: var(--secondary-black);
    font-size: 40px;
    font-weight: 100;
    font-family: heroheading;
    width: 100%;
  }

  /*** HERO SECTION END ***/

  /*** CAROUSEL SECTION START ***/

  .carousel {
    width: 100%;
    max-width: 300px;
    height: var(--carousel-height);
    position: relative;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06),
      0px 6px 24px 0px rgba(0, 0, 0, 0.12);
    transition: var(--speed-slow) ease;
  }
  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: var(--speed-medium) ease;
    &.active {
      opacity: 1;
    }
  }

  .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    img {
      aspect-ratio: 16 / 9;
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 8px;
    }
  }
  .dots {
    position: absolute;
    bottom: 14px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 5px;
    cursor: pointer;
    &.active {
      background-color: white;
    }
  }

  .timer {
    position: absolute;
    top: 8px;
    right: 8px;
    left: 8px;
    height: 4px;
    border-radius: 100vh;
    background-color: var(--primary-light);
    backdrop-filter: blur(8px);
    width: 0;
    z-index: 10;
  }
  .nav-arrow {
    --arrow-width: 64px;
    aspect-ratio: 1;
    position: absolute;
    top: calc(var(--carousel-height) / 2 - var(--arrow-width) / 2);
    background: #fff;
    transition: var(--speed-slow) ease;
    width: 44px;
    border-radius: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      transition: 0.2s ease-in-out;
      fill: #000;
    }
    &:hover {
      background-color: #000;
      svg {
        fill: #fff;
      }
      &.prev {
        svg {
          transform: translateX(-4px);
        }
      }

      &.next {
        svg {
          transform: translateX(4px);
        }
      }
    }
    &.prev {
      left: 0;
      transform: translateX(-50%);
    }
    &.next {
      right: 0;
      transform: translateX(50%);
    }
  }

  .pause-play-button {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    border-radius: 20px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
    svg {
      width: 10px;
      height: 10px;
      margin-right: 4px;
    }
    span {
      white-space: nowrap;
    }
  }

  /*** CAROUSEL SECTION END ***/

  /*** MARQUEE SECTION START ***/

  .marquee {
    overflow-x: clip;
    white-space: nowrap;
    position: relative;
    width: 100%;
  }

  .marquee-inner {
    display: flex;
    align-items: center;
    gap: 2vw;
    padding: 12vh 0;
    will-change: transform;
  }

  .marquee-inner img {
    height: 100%;
    transition: transform 0.2s;
    flex-shrink: 0;
    width: 30vw;
    border-radius: 2rem;
  }

  .marquee-inner img:hover {
    transform: scale(1.03);
  }

  /*** MARQUEE SECTION END ***/

  /*** FASHION SERVICES SECTION START ***/

  #fashion-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
  }
  #fashion-images--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #fashion-services img {
    height: 100px;
    width: 100px;
    object-fit: contain;
    border-radius: 20px;
  }
  #fashion-images--1 {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  #fashion-images--2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 10px;
  }
  #fashion-images--3 {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }

  /*** FASHION SERVICES SECTION END ***/

  /*** REVIEWS SECTION START ***/

  #reviews-section {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #reviews-carousel {
    margin: 20px 0px;
  }

  /*** REVIEWS SECTION END ***/

  /*** FOOTER START ***/

  .footer {
    background-color: var(--primary-light);
    color: var(--secondary-black);
    padding: 30px 20px;
    text-align: center;
    font-size: 14px;
  }
  .footer a img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 10px;
  }

  .footer h1 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .footer p span {
    font-size: 14px;
  }

  .footer .socials a {
    font-size: 14px;
  }

  .footer a {
    font-size: 13px;
    color: var(--secondary-black);
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s ease;
  }

  .footer a:hover {
    color: var(--secondary-headings);
  }

  .copyright {
    margin-top: 10px;
    font-size: 10px;
  }

  /*** FOOTER END ***/

  /*** GALLERY SECTION START ***/

  #gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;
  }
  #gallery1 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #gallery2 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #gallery img {
    width: 60px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
  }

  /*** GALLERY SECTION END ***/

  /*** PACKAGES SECTION START ***/

  #wedding-package {
    padding-top: 100px;
    padding-bottom: 0px;
  }
  #wedding-packages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #wedding-packages > a img {
    height: 70vh;
    width: 60vw;
    object-fit: contain;
    border-radius: 20px;
    margin-bottom: 0px;
  }
  #wedding-packages > a {
    cursor: zoom-in;
  }
  #wedding-package a {
    color: #bbbdf3;
  }
  /*** PACKAGES SECTION END ***/

  /*** WORKS GALLERY SECTION ***/

  #works #gallery img {
    margin: 4px;
  }

  /*** WORKS GALLERY END ***/
}

@media screen and (max-width: 900px) and (min-width: 551px) {
  :root {
    --carousel-height: 300px;
  }

  /* layout */
  .container {
    max-width: 142rem;
    margin: 0 auto;
    padding: 96px 30px;
  }
  /* layout */

  /*** RESUSABLES START ***/
  #cta-div {
    display: flex;
    gap: 15px;
    margin-top: 30px;
  }
  #contactBtn a button {
    border: none;
    border-radius: 8px;
    padding: 10px 18px;
    background-color: var(--primary-cta);
    border: 1px solid var(--primary-cta);
    font-size: 20px;
    color: var(--secondary-black);
    font-weight: 900;
    font-family: headings;
    font-stretch: ultra-expanded;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.25s ease;
  }
  #workBtn a button {
    border: none;
    border-radius: 8px;
    padding: 10px 18px;
    background-color: var(--secondary-cta);
    border: 1px solid var(--secondary-cta);
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    font-family: headings;
    font-stretch: ultra-expanded;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.25s ease;
  }

  .section-common--heading {
    font-size: 26px;
    font-weight: 100;
    text-transform: capitalize;
    color: var(--primary-headings);
    text-shadow: 4px 3px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 34px;
    text-align: center;
  }
  .section-common--heading span {
    color: var(--secondary-headings);
    font-weight: 600;
  }
  .section-common--subheading {
    font-size: 20px;
    font-weight: 900;
    color: var(--secondary-headings);
  }
  .section-common--para {
    font-size: 15px;
    font-weight: 100;
  }
  .section-common--para span {
    font-size: 16px;
    font-weight: 100;
    color: var(--primary-headings);
  }
  .section-common--para .danger {
    font-size: 17px;
    font-weight: 100;
    color: rgb(250, 48, 48);
  }
  #contactBtn a button:hover {
    scale: 1.02;
    box-shadow: 7px 7px 0px -3px rgba(0, 0, 0, 0.4);
  }
  #workBtn a button:hover {
    scale: 1.02;
    box-shadow: 7px 7px 0px -3px rgba(0, 0, 0, 0.4);
  }
  .hover-image {
    overflow: hidden;
    display: inline-block;
  }
  .hover-image img {
    transition: all 0.3s ease-in-out;
  }
  .hover-image:hover img {
    scale: 1.15;
  }

  /*** RESUSABLES END ***/

  /*** NAVBAR START ***/

  #nav {
    height: 80px;
    width: 100%;
    background-color: var(--primary-light);
    box-shadow: 0px 16px 8px -3px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    position: fixed;
    z-index: 99;
  }
  .logo img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
  #nav-part--2 {
    position: absolute;
    left: -100%;
    top: 0%;
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-light);
    z-index: 999;
    transition: 0.5s ease-out all;
  }
  #navbar-active {
    display: none;
  }
  #navbar-active:checked ~ #nav-part--2 {
    left: 0;
  }
  .open-navbar-button,
  .close-navbar-button {
    display: block;
    transition: all 0.1s linear;
  }
  .open-navbar-button:active,
  .close-navbar-button:active {
    scale: 1.2;
  }
  #nav-part--2 ul label svg {
    fill: var(--secondary-black);
  }
  #nav > label svg {
    fill: var(--secondary-black);
  }
  #nav-part--2 ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    list-style: none;
    margin: 15%;
  }
  #nav-part--2 a {
    font-size: 40px;
    font-weight: 300;
    text-decoration: none;
    color: var(--secondary-black);
    font-family: poppins;
  }

  /*** NAVBAR END ***/

  /*** HERO SECTION START ***/

  #hero {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: start;
    justify-content: center;
  }
  #hero h1 {
    color: var(--secondary-black);
    font-size: 50px;
    font-weight: 100;
    font-family: heroheading;
    width: 70%;
  }

  /*** HERO SECTION END ***/

  /*** CAROUSEL SECTION START ***/

  .carousel {
    width: 100%;
    max-width: 500px;
    height: var(--carousel-height);
    position: relative;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06),
      0px 6px 24px 0px rgba(0, 0, 0, 0.12);
    transition: var(--speed-slow) ease;
  }
  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: var(--speed-medium) ease;
    &.active {
      opacity: 1;
    }
  }

  .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    img {
      aspect-ratio: 16 / 9;
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 8px;
    }
  }
  .dots {
    position: absolute;
    bottom: 14px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 5px;
    cursor: pointer;
    &.active {
      background-color: white;
    }
  }

  .timer {
    position: absolute;
    top: 8px;
    right: 8px;
    left: 8px;
    height: 4px;
    border-radius: 100vh;
    background-color: var(--primary-light);
    backdrop-filter: blur(8px);
    width: 0;
    z-index: 10;
  }
  .nav-arrow {
    --arrow-width: 64px;
    aspect-ratio: 1;
    position: absolute;
    top: calc(var(--carousel-height) / 2 - var(--arrow-width) / 2);
    background: #fff;
    transition: var(--speed-slow) ease;
    width: 44px;
    border-radius: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      transition: 0.2s ease-in-out;
      fill: #000;
    }
    &:hover {
      background-color: #000;
      svg {
        fill: #fff;
      }
      &.prev {
        svg {
          transform: translateX(-4px);
        }
      }

      &.next {
        svg {
          transform: translateX(4px);
        }
      }
    }
    &.prev {
      left: 0;
      transform: translateX(-50%);
    }
    &.next {
      right: 0;
      transform: translateX(50%);
    }
  }

  .pause-play-button {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    border-radius: 20px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
    svg {
      width: 10px;
      height: 10px;
      margin-right: 4px;
    }
    span {
      white-space: nowrap;
    }
  }

  /*** CAROUSEL SECTION END ***/

  /*** MARQUEE SECTION START ***/

  .marquee {
    overflow-x: clip;
    white-space: nowrap;
    position: relative;
    width: 100%;
  }

  .marquee-inner {
    display: flex;
    align-items: center;
    gap: 2vw;
    padding: 10vh 0;
    will-change: transform;
  }

  .marquee-inner img {
    height: 100%;
    transition: transform 0.5s;
    flex-shrink: 0;
    width: 30vw;
    border-radius: 2rem;
  }

  .marquee-inner img:hover {
    transform: scale(1.03);
  }

  /*** MARQUEE SECTION END ***/

  /*** FASHION SERVICES SECTION START ***/

  #fashion-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
  }
  #fashion-images--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #fashion-services img {
    height: 100px;
    width: 100px;
    object-fit: contain;
    border-radius: 20px;
  }
  #fashion-images--1 {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  #fashion-images--2 {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  #fashion-images--3 {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }

  /*** FASHION SERVICES SECTION END ***/

  /*** REVIEWS SECTION START ***/

  #reviews-section {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #reviews-carousel {
    margin: 20px 0px;
  }

  /*** REVIEWS SECTION END ***/

  /*** FOOTER START ***/

  .footer {
    background-color: var(--primary-light);
    color: var(--secondary-black);
    padding: 30px 20px;
    text-align: center;
    font-size: 14px;
  }
  .footer a img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 10px;
  }

  .footer h1 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .footer p span {
    font-size: 14px;
  }

  .footer .socials a {
    font-size: 14px;
  }

  .footer a {
    font-size: 13px;
    color: var(--secondary-black);
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s ease;
  }

  .footer a:hover {
    color: var(--secondary-headings);
  }

  .copyright {
    margin-top: 10px;
    font-size: 10px;
  }

  /*** FOOTER END ***/

  /*** GALLERY SECTION START ***/

  #gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;
  }
  #gallery1 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #gallery2 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #gallery img {
    width: 20vw;
    height: 30vh;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
  }

  /*** GALLERY SECTION END ***/

  /*** PACKAGES SECTION START ***/

  #wedding-package {
    padding-top: 100px;
    padding-bottom: 0px;
  }
  #wedding-packages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #wedding-packages > a img {
    height: 70vh;
    width: 60vw;
    object-fit: contain;
    border-radius: 20px;
    margin-bottom: 0px;
  }
  #wedding-packages > a {
    cursor: zoom-in;
  }
  #wedding-package a {
    color: #bbbdf3;
  }
  /*** PACKAGES SECTION END ***/

  /*** WORKS GALLERY SECTION ***/

  #works #gallery img {
    margin: 4px;
    height: 20vh;
    width: 15vw;
  }

  /*** WORKS GALLERY END ***/
}

/*** RESPONSIVE DESIGN END ***/
